<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workspace Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  <script>
    function submitForm() {
        var formElement = document.getElementById('myForm');
        var data = new FormData(formElement);
        fetch('/submit', {
              method: 'POST',
              body: data,
            })
            .then(resp => resp.text())
            .then(data => {
              document.getElementById("responseArea").innerHTML = data;
            })
            .catch(error => {
              console.error(error);
            });
    }
 </script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div class="container">
  <h1>Terragrunt workspaces</h1>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">directory</th>
      <th scope="col">secrets set</th>
      <th scope="col">terraform applied</th>
    </tr>
  </thead>
  <tbody>
    {% for k,v in dirs_dict.items() %}
    <tr>
      <td><a href="/workspace/{{ k }}">{{ k }}</a></td>
      <td>{{ v['all_secrets_set'] }} ({{ v['secrets_set'] }}/{{ v['secrets_total'] }})</td>
      <td> {{ v['terragrunt_applied'] }} </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  <h2>Root configuration</h2>
  <form class="form-group" method="post" action="/save_root_config/", id="myForm">
    {% for k,v in root_config.get('locals', {"project_id": "","remote_state_bucket": "${local.project_id}-cloud-deploy-extensions-tf-states"}).items() %}
      <label for="{{ k }}">{{ k }}</label>
      <input name="{{ k }}" type="{{ k }}" class="form-control" id="{{ k }}" value="{{ v }}" required>
    {% endfor %}
    <input class="btn btn-primary", type="button", value="Save" onclick="submitForm()">
  </form>
 <div id="responseArea"></div>


</div>
</body>
</html>
