<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workspace Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div class="container">

  <h1>{{ id }} workspace configuration</h1>
  <form class="form-group" method="post" action="/workspace/{{ id }}/configure", id="myform">
    {% for k,v in dir_details['secrets'].items() %}
    <label for="{{ k }}">{{ k.split('/')[-1] }}</label>
    <div class="visually-hidden-title">
    <input name="{{ k }}" class="form-control" id="{{ k }}" value="{{ v }}" required >
    </div>
    {% endfor %}
    <input class="btn btn-primary", type="button", value="Save" onclick="submitForm()">
  </form>
 <div id="responseArea"></div>
 <div id="logs"></div>
 <script>
    function submitForm() {
        var formElement = document.getElementById('myForm');
        var data = new FormData(formElement);
        fetch('/submit', {
              method: 'POST',
              body: data,
            })
            .then(resp => resp.text())
            .then(data => {
              document.getElementById("responseArea").innerHTML = data;
            })
            .catch(error => {
              console.error(error);
            });
    }
 </script>

<script>
  var ws_log = new WebSocket("ws://localhost:8000/ws/log");

ws_log.onmessage = function (event) {
    var logs = document.getElementById("logs");
    var log_data = event.data;
    logs.innerHTML = log_data;
    };
  </script>

</div>
</body>
</html>
